<div>
  <h1>Code processor</h1>

  <div>
    <div><label>Enter JavaScript code:</label></div>
    <div>
      (You can call the function <code>context.notify</code> for sending messages to self<br />
      or <code>context.sleep</code> for putting the thread to sleep)
    </div>
    <div><textarea ng-model="code"></textarea></div>
  </div>

  <div><button ng-click="processCode()" ng-disabled="isProcessing">Execute</button></div>

  <div>Final result: {{ result }}</div>
  <div>Required parallelism: {{ parallelism }}</div>

  <div ng-if="messages.length > 0">
    <div>Messages:</div>
    <div>
      <pre><span ng-repeat="message in messages">{{ message.data }}<br /></span></pre>
    </div>
  </div>
</div>
