<div>
  <h1>Start a new poll</h1>

  <form name="startPollForm" ng-submit="!startPollForm.$invalid && startPoll()">
    <div><label for="description-{{$id}}">Discription:</label></div>
    <div><input id="description-{{$id}}" ng-model="poll.description" type="text" required /></div>
    <div>Options:</div>
    <div>
      <input ng-repeat="i in range(numberOfOptions)" required
        ng-model="poll.options[i]" placeholder="Option {{ i + 1 }}"/>
      <button type="button" ng-click="addOption()">Add</button>
      <button type="button" ng-click="removeOption()" ng-disabled="numberOfOptions <= 1">Remove</button>
    </div>
    <div><button type="submit" ng-disabled="startPollForm.$invalid">Start</button></div>
  </form>
</div>
